*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*garante que o preenchimento/padding 
    seja incluido no cáculo da largura,
    evitando que o conteúdo ultrapassae a tela
    */
}


html {
    width: 100%;
    height: 100vh;
}


header {
padding: min(5vh, 4rem); /*Ajustando o 
paidding para ser mais flexível*/

background-color: #090f13;

width: 100%;/*colocando a largura para 100% do espaço disnível*/
display: flex;
justify-content: space-between;
align-items: center;

/*aqui começamos o posicionamento do Header*/
position: sticky;/*Posicionamento do
header  usando o stick, sendo um posinamento fixo,  porém distinto do Fixed*/
top: 0; /*Espaçamento a superior zerado, fazendo com que o Header fique grudado ao top*/
left: 0; /*Espaçamento a  esquerda zerado,  fazendo com que o Header Fique grupado á esquerda*/
z-index: 999; /*Eixo de prufundidade
(Eixo Cartesiano0*/

box-shadow: 0 0.21rem 0.5rem #7345d6;
/*primeiro valor sombra na direita (0)
segundo valor sombra Bottom (0.21rem)
terceiro valor gradiantda sombra (0.5rem)*/




}

header i {
    color: #ae0c3e;
    font-size: 6em;
}

header button {
    width: 13rem;
    height: 1.5em;
    background-color: blue;
    border-radius: 1rem;
    padding: 1.3rem;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-01 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2b0255;
    width: 100%;
    padding: min(20vh, 6rem);
}
.section-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3ccefa;
    width: 100%;
    padding: min(20vh, 6rem);
}


.div-01 p {
    font-size: 2em;
    margin: 1.2em;
    color: antiquewhite;
}

.div-02 img {
width: 25rem;
margin: 5rem auto;
display: block; /*garantindo que imagem se comporte como um bloco*/
}

.section-03 
{   
    background-color: antiquewhite;
    padding: min(20vh, 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    z-index: 1;
    flex-wrap: wrap;
    position: relative;
}
.card {
    width: 200px;
    height: 480px;
    margin: 30px;
    box-shadow: 20px 20px 50px #fe8b05;
    border-radius: 15px;
    background: #686466;
}
.conntent {/*Caixa de conteúdo*/
    padding: 20px;
    text-align: center;
    transform: translateY(50px);
    opacity: 0.2;
    transition: 0.5s;

}
.content:hove{
    opacity: 1;
    transform: translateY(0px);
}
.content h2 {
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: #ae0c3e;
}
.content h3 {

}
.content p {

}
.content a {
    padding: 8px;
    background: #ec8846;
    color: #090f13;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    margin-top: 2.7rem;
    box-shadow: 0 5 15px black;
    display: inline-block;
    position: relative;
}
footer {
    background-color: #a250be;
    width: 100%;
    padding: min(10vh, 4rem);
}


@media (max-width: 830px) {
    header i {
        font-size: 5.5em;
        z-index: 999;
    }

    header button {
        width: 10rem;
        height: 0.8;
    }
    .section-01 {
padding: 9rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;
}

.section-02 {
    padding: 9rem;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;
}

.div-01 p {
font-size: 1.1rem;
line-height: 1.5;
text-align: left;
padding: 2.3rem;
width: 100%;
margin: 1rem;
}

.div-02 img {
    width: 10rem;
    margin: 0 auto;
}
}